// shrinkand font
h1 {
  font-family: "Shrikhand", serif; /* Replace 'Your Chosen Font' with the actual font name */
  font-weight: 400; /* Use a weight you've imported, e.g., 700 for bold */
  font-style: normal;
}

/* Apply custom font to sub-titles within content */
.page__content {
  h2, h3, h4, h5, h6 {
    font-family: "Shrikhand", serif; /* Replace 'Your Chosen Font' */
    // You might want different font-weights for different heading levels
    // font-weight: 500;
    font-style: normal;
  }
}



.page__content {
  font-family: 'Oranienbaum', $serif   !important;
}